:root {
  --main-bg-color: #1e1e1e;
  --size: 2.5rem;
  --color-button-black: #ffffff;
  --bg-btn-gray: #7a7a7a;
  --btn-bg-orange: #ff9500;
  --btn-bg-orange-hover: #ff7300;
  --main-bg-button: #333333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator-container {
  background-color: var(--main-bg-color);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.render-calculation {
  width: 100%;
  background-color: #000000;
  text-align: end;
  height: 8rem;
  border-radius: 10px;
  font-size: var(--size);
  color: var(--color-button-black);
  padding-right: 23px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

.button-calculator-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.button-calculator {
  height: 60px;
  width: 60px;
  border: none;
  border-radius: 30px;
  background-color: var(--main-bg-button);
  color: var(--color-button-black);
  font-size: var(--size);
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button-calculator:hover {
  background-color: #444444;
}

.btn-bg-orange {
  height: 60px;
  width: 60px;
  border: none;
  border-radius: 30px;
  background-color: var(--main-bg-button);
  color: var(--color-button-black);
  font-size: var(--size);
  cursor: pointer;
  transition: all 0.1s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: var(--btn-bg-orange);
  color: var(--color-button-black);
  font-weight: bold;
}

.btn-bg-gray {
  background-color: var(--bg-btn-gray);
  color: var(--color-button-black);
}

.operator-active {
  background-color: var(--color-button-black);
  color: var(--btn-bg-orange);
  border: 1px solid #ccc;
}
